.welcome_part{
    margin-top: 70px;
    padding-top: 60px;
    a{
        font-family: Poppins;
        font-size: 15px;
        
        font-weight: 400;
        color: #0287c3;
        text-decoration: none;
        
    }
    h2{
        font-family: Poppins;
        font-size: 35px;
        line-height: 1.2;
        font-weight: 400;
        color: #1e2021;
        margin-bottom: 30px;
        margin-top: 25px;
    }
    p{
        font-family: Poppins;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #51555a;
    }
    .welcome{
        width: 515px;
        height: 415px;
        background-color: #e6f7fe;
        padding-top: 60px;
        margin-top: 7px;
       
        float: left;
        margin-right: 50px;
       
        img{
            display: block;
            margin: 0 auto;
           
        }
    }
}
.bg-advantages{
    background: #03a9f4 url(../../../img/Sprites_another.png);
    background-size:inherit;
    height: 697px;
    .bg-contadv{
        text-align: center;
        height: 100%;
        padding-top: 60px;
        padding-bottom: 90px;
        span{
            font-family: Poppins;
            font-size: 15px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;
        }
        h3{
            font-family: Poppins;
            font-size: 33px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
            margin-top: 25px;
            margin-bottom: 60px;
        }
        .flex_advantages{
            display: flex;
            justify-content: space-between;
            li{
                list-style-type: none;
                width: 360px;
                height: 312px;
                background-color: #ffffff;
                box-shadow: 0px 4px 20px 0px rgba(202,202,202,0.25);
                padding: 10px;
                line-height: 1.2;
                img{
                    margin: 25px;
                }
                h4{
                    margin: 15px;
                    font-family: Poppins;
                    font-size: 17px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: #1e2021;
                }
                p{
                    font-family: Poppins;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #51555a;
                }
            }
        }
        li:hover{
            box-shadow: 5px 5px 5px;
            cursor: pointer;
        }
        button{
            width: 280px;
            height: 50px;
            background-color: #0287c3;
            box-shadow: none;
            margin-top: 50px;
            font-family: Poppins;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
        }
        
        
    }

}
.works{
    height: 550px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 92px;
    span{
        font-family: Poppins;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #0287c3;
    }
    h3{
        font-family: Poppins;
        font-size: 33px;
        line-height: 1.2;
        font-weight: 500;
        color: #323538;
        margin-top: 25px;
        margin-bottom: 60px;
    }
    .flex_works{
        display: flex;
        justify-content: space-between;
        li{
            list-style-type:none;
            border-right: 1px solid #c7ecff;
            padding: 10px;
            img{
                margin-bottom: 30px;
            }
            h4{
                margin-bottom: 20px;
            }
        }
        li:hover{
            box-shadow: 5px 5px 5px ;
            cursor: pointer;
        }
    }
}
.bg-discount{
    background:url(../../../img/clouds.png);
    height: 556px;
}