
.welcome_part{
    margin-top: 70px;
    padding-top: 60px;
    a{
        font-family: Poppins;
        font-size: 15px;
        
        font-weight: 400;
        color: #0287c3;
        text-decoration: none;
        
    }
    h2{
        font-family: Poppins;
        font-size: 35px;
        line-height: 1.2;
        font-weight: 400;
        color: #1e2021;
        margin-bottom: 30px;
        margin-top: 25px;
    }
    p{
        font-family: Poppins;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #51555a;
    }
    .welcome{
        width: 515px;
        height: 415px;
        background-color: #e6f7fe;
        padding-top: 60px;
        margin-top: 7px;
       
        float: left;
        margin-right: 50px;
       
        img{
            display: block;
            margin: 0 auto;
           
        }
    }
}
.bg-advantages{
    background: #03a9f4 url(../../../img/Sprites_another.png);
    background-size:inherit;
    height: 697px;
    .bg-contadv{
        text-align: center;
        height: 100%;
        padding-top: 60px;
        padding-bottom: 90px;
        span{
            font-family: Poppins;
            font-size: 15px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;
        }
        h3{
            font-family: Poppins;
            font-size: 33px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
            margin-top: 25px;
            margin-bottom: 60px;
        }
        .flex_advantages{
            display: flex;
            justify-content: space-between;
            li{
                list-style-type: none;
                width: 360px;
                height: 312px;
                background-color: #ffffff;
                box-shadow: 0px 4px 20px 0px rgba(202,202,202,0.25);
                padding: 10px;
                line-height: 1.2;
                img{
                    margin: 25px;
                }
                h4{
                    margin: 15px;
                    font-family: Poppins;
                    font-size: 17px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: #1e2021;
                }
                p{
                    font-family: Poppins;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #51555a;
                }
            }
        }
        li:hover{
            box-shadow: 5px 5px 5px;
            cursor: pointer;
        }
        button{
            width: 280px;
            height: 50px;
            background-color: #0287c3;
            box-shadow: none;
            margin-top: 50px;
            font-family: Poppins;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
        }
        
        
    }

}
.works{
    height: 550px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 92px;
    span{
        font-family: Poppins;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #0287c3;
    }
    h3{
        font-family: Poppins;
        font-size: 33px;
        line-height: 1.2;
        font-weight: 500;
        color: #323538;
        margin-top: 25px;
        margin-bottom: 60px;
    }
    .flex_works{
        display: flex;
        justify-content: space-between;
        li{
            list-style-type:none;
            border-right: 1px solid #c7ecff;
            padding: 10px;
            img{
                margin-bottom: 30px;
            }
            h4{
                margin-bottom: 20px;
            }
        }
        li:hover{
            box-shadow: 5px 5px 5px ;
            cursor: pointer;
        }
    }
}
.bg-discount{
    background:url(../../../img/clouds.png);
    height: 556px;
    padding-top: 55px;
    .discount{
        text-align: center;
        position: relative;
        span{
            font-family: Poppins;
            font-size: 15px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;
        }
        h3{
            font-family: Poppins;
            font-size: 33px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
            margin-top: 25px;
            margin-bottom: 60px;
        }
        p{
            font-family: Poppins;
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: #ffffff;
            
        }
        .rocket{
            display: block;
            position: absolute;
            top: 130px;
            left: -100px;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 550px;
            height: 30g6px;
            position: absolute;
            left:130px;
            top: 260px;
            li{
                list-style-type: none;
                background-color:white;
                width: 275px;
                padding: 40px;
                
                span{
                    font-family: Poppins;
                    font-size: 35px;
                    line-height: 40px;
                    font-weight: 400;
                    color: #f75e2e;
                    margin-bottom: 20px;
                }
                p{
                    font-family: Poppins;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #51555a;
                    margin-top: 30px;
                }
                .pages{
                    font-family: Poppins;
                    font-size: 17px;
                    line-height: 1.2;
                    font-weight: 600;
                    color: #0287c3;
                }
            }
            li:hover{
                background-color:#e2f55d;
                cursor: pointer;
            }
        }
        .cut_part{
            height: 505px;
            width: 381px;
            background-color:#03a9f4;
            padding: 20px;
            position: absolute;
            right: 80px;
            top: 260px;
            .cut_servise{
                width: 341px;
                height: 467px;
                background-color: #03a9f4;
                border: 2px dashed #0287c3;
                border-radius:10px;
                padding: 20px;
                h5{
                    font-family: Poppins;
                    font-size: 25px;
                    line-height: 34px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.01em;
                    color: #ffffff;
                    margin-bottom: 40px;
                }
                .discount{
                    background-color:#0287c3;
                    width: 275px;
                    height: 210px;
                    margin: 0 auto;
                    padding: 10px;
                    border:2px dashed white;
                    margin-bottom: 45px;
                    position: relative;
                    .dis_get{
                        display: block;
                        font-family: Poppins;
                        font-size: 24px;
                        line-height: 40px;
                        font-weight: 500;
                        letter-spacing: -0.02em;
                        color: #ffffff;
                        text-align: left;
                        margin-left: 70px;
                        
                    }
                    .dis_of{
                        display: block;
                        font-family: Poppins;
                        font-size: 61.7px;
                        line-height: 57px;
                        font-weight: 400;
                        color: #e2f55d;
                        
                    }
                    .your_cut{
                        font-family: Poppins;
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 500;
                        color: #ffffff;
                        
                    }
                   
                    .scissors{
                        position: absolute;
                        top: -15px;
                        left: -12px;
                    }
                    .stars{
                        position: absolute;
                        top: -15px;
                        right: -12px;
                    }
                    .balloon{
                        position: absolute;
                        bottom: -127px;
                        right: -92px;
                    }
                }
                
            }
        }
    }
}
.clients{
   
        height: 483px;
        background-color: #ffffff;
        margin-top: 400px;
        text-align: center;
        .carousel-item{
            p{
                font-family: Poppins;
                font-size: 14px;
                line-height: 22px;
                font-weight: 300;
                color: #51555a;
            }
           
        }
        span{
            font-family: Poppins;
            font-size: 15px;
            line-height: 1.2;
            font-weight: 400;
            color: #0287c3;
        }
        h3{
            font-family: Poppins;
            font-size: 33px;
            line-height: 1.2;
            font-weight: 500;
            color: #323538;
            margin: 20px;
        }
        
        
}
