.welcome_part{
    margin-top: 70px;
    padding-top: 60px;
    a{
        font-family: Poppins;
        font-size: 15px;
        
        font-weight: 400;
        color: #0287c3;
        text-decoration: none;
        
    }
    h2{
        font-family: Poppins;
        font-size: 35px;
        line-height: 1.2;
        font-weight: 400;
        color: #1e2021;
        margin-bottom: 30px;
        margin-top: 25px;
    }
    p{
        font-family: Poppins;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #51555a;
    }
    .welcome{
        width: 515px;
        height: 415px;
        background-color: #e6f7fe;
        padding-top: 60px;
        margin-top: 7px;
       
        float: left;
        margin-right: 50px;
       
        img{
            display: block;
            margin: 0 auto;
           
        }
    }
}